{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}
{% block extraHead %}
  <script src="https://kit.fontawesome.com/4f5d2ea87b.js" crossorigin="anonymous"></script>

{% endblock %}
{% block beforeMain %}
  <header>
    <div class="container-header">
      <nav class="header-area">
        <div class="rowh mb-5">
          <h1>IKEA</h1>
        </div>
        <div style="margin-top:100px">
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/lista-articoli">Articoli</a>
            </li>
            <li>
              <a href="/lista-salotti">Salotti</a>
            </li>
            <li>
              <a href="/events-list">Eventi</a>
            </li>
            <li style="margin-top:10px">
              <form class="search-menu" method="GET" action="/search">
                <input type="text" name="q" value="" class="search-field"/> 
                <button> <i class="fas fa-search"></i> </button>
              </form>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
{% endblock %}
{% block afterMain %}
  <footer>
    <nav class="footer-area">
      <address>
        Nave di Capitan Uncino<br>
        il coccodrillo tiktok, 168<br>
        30121 Isola che non c'e'<br>
        Tel. 041.279 2411<br>
        Email:
        <a>IKEA@oceano.it</a>
      </address>
    </nav>
  </footer>
{% endblock %}