{# Automatically extends the right outer layout and also handles AJAX siutations #}

{% extends data.outerLayout %}
{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
  {#
    This block outputs its contents in the HTML document's <head>.
    It is a good place to put extra <script> <link> and <meta> tags.
  #}
{% endblock %}

{% block beforeMain %}
  <header>
    <div class="container-header">
      <nav class="header-area">
        <div class="rowh mb-5">
          <h1>IKEA</h1>
        </div>
      </nav>
      <form method="GET" action="/search">
        <input type="text" name="q"/><input type="submit" value="Search"/>
      </form>
    </div>
  </header>
{% endblock %}
{% block main %}{% endblock %}

{% block afterMain %}
  <footer>
    <nav class="footer-area">
      <address>
        Nave di Capitan Uncino<br>
        il coccodrillo tiktok, 168<br>
        30121 Isola che non c'e'<br>
        Tel. 041.279 2411<br>
        Email:
        <a>IKEA@oceano.it</a>
      </address>
    </nav>
  </footer>
{% endblock %}